@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'fuente';
    src: url('./assets/Tipografias/Canada.otf') format('woff2'),
         url('./assets/Tipografias/mollen/Mollen\ Personal\ Use-Bold.otf') format('woff'),
         url('./assets/Tipografias/mollen/Mollen\ Personal\ Use-Regular.otf') format('woff3');
    font-weight: normal;
    font-style: normal;
  }
body{
    position: relative;
    font-family: 'fuente', sans-serif;

}

h1{
    font-size: 8vh;
    font-weight: bold;
}
button{
    background-color: #E9521D;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
h2{
    font-size: 3vh;
    font-weight: bold;

}
h3{
    font-weight: bold;
    font-size: 2vh;
}
